.no-access-panel {
  display: flex;
  width: 80%;
  border: 2px solid var(--highlight-color);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.no-access-panel h3 {
  margin: 0;
}

.check-access-panel {
  display: flex;
  width: 80%;
  border: 2px solid var(--highlight-color);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-top: 10px;
}

.check-access-panel h3 {
  margin: 0;
}

.access-panel__icon {
  cursor: pointer;
}
