@keyframes highlightDropdown {
  30% {
    border: 1px solid var(--blue);
    box-shadow: 0px 0px 10px 10px var(--blue);
  }
  100% {
    border: 1px solid var(--gray);
    box-shadow: 0;
  }
}

.dropdown {
  width: 100%;
}

.dropdown__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  height: 36px;
  padding: 5px 10px;
  background-color: var(--white);
}

.dropdown__select--menu-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown__input {
  outline: none;
  margin-right: 10px;
  font-size: 16px;
  border: none;
}

.dropdown__icon {
  cursor: pointer;
  border-left: 1px solid var(--gray);
  padding-left: 10px;
  height: 31px;
  width: 15px;
}

.dropdown__menu {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dropdown__menu--open {
  position: absolute;
  z-index: 100;
  height: unset;
  max-height: 200px;
  width: unset;
  visibility: visible;
  border-bottom: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-top: 0;
  padding-inline-start: 0;
  -webkit-padding-start: 0;
  overflow: scroll;
  width: calc(50% - 10px - 50px - 2px);
  background-color: var(--white);
}

@media screen and (max-width: 548px) {
  .dropdown__menu--open {
    position: relative;
    width: calc(100% - 2px);
  }
}

.dropdown__menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style-type: none;
  padding: 10px 10px;
}

.dropdown__menu-item:hover {
  background-color: var(--blue);
  color: var(--white);
}

.dropdown__menu-item:last-child {
  border: none;
}

.dropdown__menu-item p {
  margin-top: 3px;
}

input[type='checkbox'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: var(--white);
  height: 18px;
  width: 18px;
  border: 1px solid var(--gray);
  border-radius: 2px;
  margin: 0 10px 0 0;
  flex-shrink: 0;
  vertical-align: middle;
}

input[type='checkbox']:checked {
  background: var(--gray);
}

input[type='checkbox']:checked:after {
    content: '✓';    /* or '\2713', or '\2714' */
    position: relative;
    left: 4px;
    top: 1px;
    color: var(--white);
    border-width: 0 2px 2px 0;
    display: inline-block;
}

.highlight-dropdown {
  -webkit-animation-name: highlightDropdown;
  -webkit-animation-duration: 4s;
}
