.header {
  background-color: var(--gray);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  height: 80px;
}

.header__logo {
  width: 400px;
}

.header__link-section {
  display: flex;
}

.header__link-section > * {
  margin-left: 40px;
}
