.tools-list {
  display: flex;
  flex-flow: column;
}

.tool-item {
  height: unset;
  opacity: 1;
  padding: 20px 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--gray);
}

.hidden {
  opacity: 0;
  height: 0;
}

.tool-item__icon {
  padding: 20px 20px;
  margin-right: 10px;
  width: 200px;
}

.tool-item__information {
  list-style-type: none;
  padding-inline-start: 0;
  flex-basis: 65%;
}

.tool-item__category {
  display: flex;
  align-items: center;
  padding-inline-start: 20px;
  margin-bottom: 20px;
}

.tool-item__category-title {
  margin-right: 10px;
}

.tool-item__category-list {
  padding-inline-start: 0;
}

.tool-item__tag {
  cursor: pointer;
  display: inline-block;
  color: var(--white);
  list-style-type: none;
  background-color: var(--blue);
  padding: 5px 5px;
  border-radius: var(--border-radius);
  margin: 5px 3px;
}

.tool-item__tag:hover {
  background-color: var(--gray);
}

.tool-item__buttons {
  display: flex;
  flex-flow: column;
  flex-basis: 20%;
}
