<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:title" content="{{ .Title }}" />
{{ if .Description }}
  <meta property="og:description" content="{{ .Description }}" />
  <meta name="twitter:description" content="{{ .Description }}" />
{{ else }}
  {{ $defaultDescription := "Data STAGE (Storage, Toolspace, Access and analytics for biG data Empowerment) is a platform for accessing and analyzing NHLBI TOPMed phenotypes and genotypes." }}
  <meta property="og:description" content="{{ $defaultDescription }}" />
  <meta name="twitter:description" content="{{ $defaultDescription }}" />
{{ end }}
<meta property="og:image" content="{{ .Site.BaseURL }}img/stage-logo-dark.png" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}img/stage-logo-dark.png" />
<meta property="og:image:width" content="1000" />
<meta property="og:image:height" content="288" />
<meta property="og:image:type" content="image/png" />
<meta name="twitter:card" content="summary_large_image">
