<div class='about__access'>
  <h3>Do you have access to STAGE?</h3>
  <button class='about__button' onclick="window.location.href = '#getting-started'">Yes</button>
  <button class='about__button' onclick="openNoAccessPanel(); window.location.href = '#getting-started'">No</button>
  <button class='about__button' onclick="openCheckAccessPanel(); window.location.href = '#getting-started'">I Don't Know</button>
</div>
<script>
const toolList = {};
const visibilityMap = {};

function openNoAccessPanel() {
  document.querySelector('.no-access-panel__information').classList.remove('closed');
}

function openCheckAccessPanel() {
  document.querySelector('.check-access-panel__information').classList.remove('closed');
}

function closeNoAccessPanel() {
  document.querySelector('.no-access-panel__information').classList.add('closed');
}

function closeCheckAccessPanel() {
  document.querySelector('.check-access-panel__information').classList.add('closed');
}

function toggleNoAccessPanel() {
  document.querySelector('.no-access-panel__information').classList.toggle('closed');
}

function toggleCheckAccessPanel() {
  document.querySelector('.check-access-panel__information').classList.toggle('closed');
}
</script>
