
<script>
  checkAccessToken()

  function openCheckAccessPanel() {
    document.querySelector('.check-access-panel__information').classList.remove('closed');
  }

  function checkAccessToken() {
    var query = window.location.href.split('?');
    query = query.length > 1 ? query[1] : query[0];
    var projects = {};
    var params = query.split('&');
    for (var i = 0; i < params.length; ++i) {
      var values = params[i].split('=');
      if (values[0] === 'access_token' && !!values[1]) {
        const access_token = parseJwt(values[1]);
        projects = JSON.stringify(Object.keys(access_token.context.user.projects).map(function(proj) {
          return `${proj}: ${access_token.context.user.projects[proj].join(', ')}`
        }).join('; '));
        break;
      }
    }
    window.location.href = `/?projects=${projects}#getting-started`
  }

  function parseJwt(token) {
    try {
      return JSON.parse(atob(token.split('.')[1]));
    } catch (e) {
      return null;
    }
  }
</script>
