{{- $className := .Get 0 }}
{{- $selection := .Get 1 }}
{{- $tools := .Get 2 }}

{{ with .Get 0 }}
  <div class='dropdown'>
      <div id='{{ $className }}-select' class='dropdown__select'>
        <div id='{{ $className }}-value' class='dropdown__input'>{{ $selection }}</div>
        <img class='dropdown__icon' src='img/icons/dropdown.svg' onclick='onClick("{{$className}}")'/>
      </div>
      <ul id='{{ $className }}-menu' class='dropdown__menu'>
        {{ range $.Page.Param . }}
            <li class='dropdown__menu-item'>
              <input id='{{ . }}' type='checkbox' onclick="onChange('{{ $className }}', ' {{ . }}', '{{ $tools }}', '{{ $selection }}')"/>
              {{ . }}
            </li>
        {{ end }}
      </ul>
  </div>
{{ end }}
<script>
  function onClick(className) {
    document.getElementById(`${className}-menu`).classList.toggle('dropdown__menu--open');
    document.getElementById(`${className}-select`).classList.toggle('dropdown__select--menu-open');
  }

  function onChange(dropdownType, option, tools, placeolderText) {
    if (!filters[dropdownType]) {
      filters[dropdownType] = [];
    }
    if (filters[dropdownType].includes(option)) {
      filters[dropdownType] = filters[dropdownType].filter(elt => elt !== option);
    } else {
      filters[dropdownType].push(option);
    }
    document.getElementById(`${dropdownType}-value`).innerHTML = filters[dropdownType].length > 0 ? filters[dropdownType] : placeolderText;
    updateVisibleTools(dropdownType, tools);
  }
</script>
