{{ with .Get 0 }}
  <div class='tools-list'>
    {{ range $.Page.Param . }}
      <div class='tool-item'>
        <img class='tool-item__icon' src='{{ .logo }}' />
        <ul class='tool-item__information'>
          <li class='tool-item__category'>
            <h3 class='tool-item__category-title'>Capabilities:</h3>
            <ul class='tool-item__category-list'>
              {{ range .capabilities }}
                <li class='tool-item__tag'>{{ . }}</li>
              {{ end }}
            </ul>
          </li>
          <li class='tool-item__category'>
            <h3 class='tool-item__category-title'>Compatible with:</h3>
            <ul class='tool-item__category-list'>
              {{ range .compatibilities }}
                <li class='tool-item__tag'> {{ . }}</li>
              {{ end }}
            </ul>
          </li>
          <li class='tool-item__category'>
            <h3 class='tool-item__category-title'>Available datasets:</h3>
            <ul class='tool-item__category-list'>
              {{ range .datasets }}
                <li class='tool-item__tag'> {{ . }}</li>
              {{ end }}
            </ul>
          </li>
        </ul>
        <div class='tool-item__buttons'>
          <button onclick="window.open('{{ .url }}', '_blank')">Visit {{ .name }}</button>
          <button onclick="window.open('{{ .documentation }}', '_blank')">Visit Documentation</button>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
