{{ with .Get 0 }}
  <div class='tools-list'>
    <div class='tools-list__empty hidden'>
      <h3>There are no tools that fit your criteria.</h3>
    </div>
    {{ range $.Page.Param . }}
      {{ $category := . }}
      <h2>{{ $category }} </h2>
      {{ range $.Page.Params.products }}
        {{ if eq .category $category }}
          <script>
            toolList['{{ .name }}'] = {{ . }}
            Object.keys(toolList).forEach(function(tool) {
              visibilityMap[tool] = {
                compatibilities: true,
                datasets: true,
              };
            })
          </script>
          <div id='{{ .name }}-tool-item' class='tool-item'>
            <div class='tool-item__icon-section'>
              <img class='tool-item__icon' src='{{ .logo }}' />
            </div>
            <ul class='tool-item__information'>
              <li class='tool-item__category'>
                <h4 class=tool-item__category-title>Compatible with:</h4>
                <ul class='tool-item__category-list'>
                  {{ range .compatibilities }}
                    <li class='tool-item__tag'> {{ . }}</li>
                  {{ end }}
                </ul>
              </li>
              <li class='tool-item__category'>
                <h4 class='tool-item__category-title'>Available datasets:</h4>
                <ul class='tool-item__category-list'>
                  {{ range .datasets }}
                    <li class='tool-item__tag'> {{ . }}</li>
                  {{ end }}
                </ul>
              </li>
            </ul>
            <div class='tool-item__buttons'>
              <button onclick="window.open('{{ .url }}', '_blank')">Visit {{ .name }}</button>
              <button onclick="window.open('{{ .documentation }}', '_blank')">Visit Documentation</button>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
<script>
  const filters = {};

  function filterTools() {
    let isEmpty = true;
    Object.keys(visibilityMap).forEach(function(key) {
      if (!visibilityMap[key].compatibilities || !visibilityMap[key].datasets) {
          document.getElementById(`${key}-tool-item`).classList.add('hidden');
        } else {
          isEmpty = false;
          document.getElementById(`${key}-tool-item`).classList.remove('hidden');
        }
    })
    if (isEmpty) {
      document.querySelector('.tools-list__empty').classList.remove('hidden');
    } else {
      document.querySelector('.tools-list__empty').classList.add('hidden');
    }
  }

  function updateVisibleTools(dropdownType) {
    Object.keys(toolList).forEach(function(key) {
      let tool = toolList[key];
      visibilityMap[key][dropdownType] = this.isVisible(dropdownType, tool);
    })
    this.filterTools();
  }

  function isVisible(dropdownType, tool) {
    let show = true;
    filters[dropdownType].forEach(function(filter) {
      if (!tool[dropdownType] || !tool[dropdownType].includes(filter.trim())) {
        show = false;
      }
    })
    return show;
  }

  function browsePublic() {
    onChange('datasets', 'Public', true);
    document.getElementById('Public').checked = true;
    window.location.href = '#products';
    const elt = document.getElementById('datasets-select');
    elt.classList.add('highlight-dropdown');
    setTimeout(function() {
      elt.classList.remove('highlight-dropdown');
    }, 4001);
  }
</script>
